.layout-bg-indigo {
    background: linear-gradient(to bottom,#ffffff,#e0cffc);
}
.font-purple {
    color: rgb(150, 58, 193);
}

.bg-purple {
    background-color: rgb(150, 58, 193) ;
}

.btn-purple {
    color: #fff;
    background-color: rgb(150, 58, 193);
    border-color: rgb(150, 58, 193) ;
    
}
.btn-purple:hover {
    color:#fff;
    background-color: rgb(105, 40, 135);
    border-color: rgb(105, 40, 135);
}

.alert-indigo {
    background-color: #e0cffc;
    border-color: rgb(150, 58, 193);
}